# Build and deploy the app


name: Build and deploy api-server

on:
    push:
        branches:
            - "main"

jobs:
    Build-push-image:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: docker/setup-buildx-action@v3
              
            - uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.Docker_PASSWORD }}
            
            - uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/api-server:latest

    
    deploy:
        runs-on: self-hosted
        needs: Build-push-image
        if: ${{ needs.Build-push-image.result == 'success' }}
        steps:
            - run: |
                docker pull ${{ secrets.DOCKER_USERNAME }}/api-server:latest

            - run: |
                kubectl apply -f deploy.yml
         
            - run: |
                kubectl apply -f service.yml

            - run: |
                kubectl rollout status deploy api-server
    